header.profile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;  
}

.user-name {  
  font-family: inherit;
  color: #ffffff;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 400px;
  background-color: #ff9d4e;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
}