header.profile {
  display: flex;
  padding-top: 120px;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ff9d4e;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
}

.user-name {
  font-family: inherit;
  color: white;
}