header {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ff9d4e;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
}

.image-container {
  padding: 120px 0 0 0;
}
.name-containet {
}
h2{
  font-family: inherit;
  color: white;
}