nav {
  position: fixed;
  height: 120px;
  width: 100vw;
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5em;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  color: red;
}