.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #545149;
}
.new-tweet {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;

}

button {
  border: none;
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
  padding: 5px 10px;
}

.text-box {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

label {
  font-weight: bold;
  font-size: 1.2em;
  color: #545149;
}
textarea {
  border: none;
  border-bottom: 3px solid #545149;
  background-color: inherit;
  outline: none;
}
.counter {
  float: right;
  font-weight: bold;
  font-family: 'Bungee', cursive;
}